.logo {
  color: white;
  line-height: 30px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-icon {
  border-radius: 50px;
  vertical-align: middle;
  //   background: white;
  background-image: url('../../assets/user.png');
  height: 40px;
  width: 40px;
  display: flex;
}

.content {
  margin: 40px;
}

.list {
}
